<div class="row">
  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3><%= link_to 'Reports', reports_path %></h3>
      <ul class="nav nav-list">
        <li class="nav-header"></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="col-lg-9">
  </div>
</div>